@tailwind base;
@tailwind components;
@tailwind utilities;

li {
  @apply hover:cursor-pointer;
}

#aboutMe {
  min-height: calc(100vh - 100px);
}

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 500;
  @apply py-2;
}

p {
  line-height: 18px;
}

span {
  @apply font-light;
}

#aboutMe a,
footer a {
  @apply text-red-800 underline;
}
